<nav class="navbar">
  <div class="container-fluid">
      <div class="navbar-header">
        <button id="ChangeToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <div id="navbar-hamburger">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
          <div id="navbar-close" class="hidden">
            <span class="glyphicon glyphicon-remove"></span>
          </div>
        </button>
        <a class="navbar-brand" href="#">Sharebook</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">Accueil</a></li>
          <li><a href="{% url 'about-us' %}">A propos</a></li>
          <li><a href="#">Contactez-nous</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> S'inscrire</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
        </ul>
      </div>
    </div>
    
  </div>
</nav>