
/* root */
:root{
    --main-white: #eeeeee;
}

/* body */

body{
    background-color: #232931; ;
}

p, h1, h2, h3, h4{
    color:var(--main-white) !important;
}
/* navbar */

nav ul li a, nav a{
    color: #eeeeee !important;
}

nav ul li a:hover, nav a:hover{
    background-color: #4ecca3 !important;
}

#navbar-close span{
    color: var(--main-white)
}

#navbar-hamburger .icon-bar{
    background-color: var(--main-white)
}

/* jumbotron */

.jumbotron-one{
    background-color: #4ecca3 !important;
}

.jumbotron h1, .jumbotron p{
    color: #393e46 !important;
}

.jumbotron-two{
    background-color: #eeeeee !important;
}

/* footer */

footer div{
    color: #eeeeee !important;
}
