
/* root */
:root{
    --main-white: #eeeeee;
}

/* body */

body{
    background-color: #232931; ;
}

p, h1, h2, h3, h4{
    color:var(--main-white) !important;
}
/* navbar */

nav ul li a, nav a{
    color: #eeeeee !important;
}

nav ul li a:hover{
    background-color: #4ecca3 !important;
}

#navbar-close span{
    color: var(--main-white)
}
/* .navbar-toggler-icon{
    background-color: var(--main-white)
} */

/* section */

.first-section{
    background-color: #4ecca3 !important;
}

.section-home h1, .section-home p{
    color: #393e46 !important;
}

.second-section{
    background-color: #eeeeee !important;
}

/* Form */

.field-info{
    color: var(--main-white)
}

/* footer */

footer div{
    color: #eeeeee !important;
}
