{% extends 'base/base.html' %}s
{% load static %}
{% block content %}
<div class="row">

    <h3>
        A propos
    </h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et erat placerat, accumsan ipsum eu, pharetra justo. Morbi quis elit quis nisl vestibulum consequat a vel purus. Morbi enim mauris, faucibus ut vulputate et, feugiat sit amet enim. Mauris consequat fermentum nisi, lobortis interdum nunc pretium quis. Mauris tincidunt augue justo, at varius justo fringilla quis. Aenean et dolor ac lacus sagittis commodo. Fusce hendrerit sapien et purus dictum vestibulum. Pellentesque tortor leo, mollis eu tristique sed, consequat vel nibh. Sed sapien erat, blandit vel nibh a, aliquet ullamcorper tortor. Etiam non egestas velit. Pellentesque facilisis pulvinar rhoncus.
    </p>
</div>
{% endblock %}

