{% extends 'base/base.html' %}s
{% load static %}
{% block content %}
<div class="px-5 my-5">
    <div class="row">
        <h3>
            Contactez-nous
        </h3>
        <div class="col-sm-6">
            <form id="contactForm">
                <div class="form-floating mb-3">
                    <input class="form-control" id="name" type="text" placeholder="Nom" required/>
                    <div class="field-info">Le nom est requis.</div>
                </div>
                <div class="form-floating mb-3">
                <input class="form-control" id="emailAddress" type="email" placeholder="Adresse email" required/>
                <div class="field-info">L'adresse email est obligatoire.</div>
                </div>
                <div class="form-floating mb-3">
                <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;" required></textarea>
                <div class="field-info">Le message est obligatoire.</div>
                <div>
                    <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}
  