{% extends 'base/base.html' %}s
{% load static %}
{% block content %}
<div>
    <h3 class="mb-4">
        Contactez-nous
    </h3>
    <div class="col-sm-6">
        <form id="contactForm">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <label for="floatingTextarea">Votre message</label>
                <textarea class="form-control mt-1" placeholder="Message" id="floatingTextarea"></textarea>
            </div>
            <div class="mt-2">
                <button class="btn btn-plain btn-lg rounded-lg" type="submit">Envoyer</button>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}
  