{% extends 'base/base.html' %}s
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid jumbotron-one">
    <div class="container">
      <h1 class="text-center">A quoi sert Sharebook ?</h1>
      <p class="lead">Vous êtes un écrivain ou écrivaine amateur, ne gardez pas vos histoires au fond d'un tiroir. Partager les aux autres !
        Il est tout à fait possible que vos récits passionnent de nouveaux lecteurs. Si vous êtes juste curieux, vous pouvez découvrir des
        histoires suprenantes.
      </p>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid jumbotron-two">
    <div class="container">
      <h1 class="text-center">Comment ça marche ?</h1>
      <p class="lead">Première étape, il faut créer un compte.</p>
      <p class="lead">Deuxième étape, si vous souhaitez partager vos écrits, il suffit de les charger dans l'espace dédié.
        Dans le cas où souhaitez juste lire ces récits, il vous suffit de les télécharger.
      </p>
    </div>
  </div>
{% endblock %}